src/main/java/zxdsr/zxdsr.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webServices.dataInterface.thunisoft.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ZxDsrServicesImpl" targetNamespace="http://webServices.dataInterface.thunisoft.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webServices.dataInterface.thunisoft.com/" elementFormDefault="unqualified" targetNamespace="http://webServices.dataInterface.thunisoft.com/" version="1.0">

  <xs:element name="getAllSANH" type="tns:getAllSANH"/>

  <xs:element name="getAllSANHResponse" type="tns:getAllSANHResponse"/>

  <xs:element name="getDataByNDH" type="tns:getDataByNDH"/>

  <xs:element name="getDataByNDHResponse" type="tns:getDataByNDHResponse"/>

  <xs:element name="getDataBySANH" type="tns:getDataBySANH"/>

  <xs:element name="getDataBySANHResponse" type="tns:getDataBySANHResponse"/>

  <xs:complexType name="getAllSANH">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllSANHResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDataByNDH">
    <xs:sequence>
      <xs:element minOccurs="0" name="sanh" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDataByNDHResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDataBySANH">
    <xs:sequence>
      <xs:element minOccurs="0" name="sanh" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDataBySANHResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllSANH">
    <wsdl:part element="tns:getAllSANH" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllSANHResponse">
    <wsdl:part element="tns:getAllSANHResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataBySANH">
    <wsdl:part element="tns:getDataBySANH" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataBySANHResponse">
    <wsdl:part element="tns:getDataBySANHResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataByNDH">
    <wsdl:part element="tns:getDataByNDH" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataByNDHResponse">
    <wsdl:part element="tns:getDataByNDHResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ZxDsrServices">
    <wsdl:operation name="getAllSANH">
      <wsdl:input message="tns:getAllSANH" name="getAllSANH">
    </wsdl:input>
      <wsdl:output message="tns:getAllSANHResponse" name="getAllSANHResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataByNDH">
      <wsdl:input message="tns:getDataByNDH" name="getDataByNDH">
    </wsdl:input>
      <wsdl:output message="tns:getDataByNDHResponse" name="getDataByNDHResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataBySANH">
      <wsdl:input message="tns:getDataBySANH" name="getDataBySANH">
    </wsdl:input>
      <wsdl:output message="tns:getDataBySANHResponse" name="getDataBySANHResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZxDsrServicesImplSoapBinding" type="tns:ZxDsrServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllSANH">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllSANH">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllSANHResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataByNDH">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDataByNDH">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDataByNDHResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataBySANH">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDataBySANH">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDataBySANHResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZxDsrServicesImpl">
    <wsdl:port binding="tns:ZxDsrServicesImplSoapBinding" name="ZxDsrServicesImplPort">
      <soap:address location="http://11.203.54.130:8085/dataInterface/data/zxdsr"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>